@media screen and (min-width:320px){
*{
  box-sizing: border-box;
}
html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  text-decoration: underline;
  cursor: pointer;
}
ul{
  list-style-type: none;
}

header{    
  height: 221px;
  background-image:url("https://www.etariff.biz/sites/default/files/banner/technology23.jpg");
}
header::after{
  content: "";
  clear: both;
  display: block;
}

.descript{
  color: #ffee00;
  
}
.logotip{
  top: 0;
}
nav{
  background-color: #2FF553;
}
.psevdocontainer{
  max-width: 960px;
  }
.table{
  border-collapse: collapse;
  border: 5px double #1E90FF;
}
tr:nth-child(even){
  background-color: #e5e5e5;
}
.ch{
  background-color: chartreuse;
}
.nech{
  background-color: darkgoldenrod;
}

.footer{
  height : 50px;
  background: #39b54a; 
  color: #fff;
  
}
th {
  border: 1px solid grey;
}
td {
  border: 1px solid grey;
}


 @media screen and (min-width:650px){
    .descript{
    font-size: 65px;
  }

